@model MedicalCRM.Models.Pagination.UserPaginationViewModel;

@{
    ViewData["Title"] = "Список докторов";
}

<form method="get">
  <div class="row">
    <div class="col">
      <input type="text" name="Inn" class="form-control" placeholder="Логин">
    </div>
    <div class="col">
      <input type="text" name="Surname" class="form-control" placeholder="Фамилия">
    </div>
    <div class="col">
      <input type="text" name="Name" class="form-control" placeholder="Имя">
    </div>
    <div class="col">
      <input type="text" name="Patronimic" class="form-control" placeholder="Отчество">
    </div>
     <div class="col">
      <input type="date" name="BirthDateStart" class="form-control" placeholder="Дата рождения от">
    </div>
    <div class="col">
      <input type="date" name="BirthDateEnd" class="form-control" placeholder="Дата рождения до">
    </div>
    <div class="col">
     <input type="submit" value="Фильтр" class="btn btn-default " />
    </div>
  </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Инн
            </th>
                        <th>
               Фамилия
            </th>
                        <th>
                Имя
            </th>
                        <th>
                Отчество
            </th>
                        <th>
                Дата рождения
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FilterResult.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Patronimic)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <div class="row">
                    @Html.ActionLink("Редактировать", "DoctorUpdate", "Admin", new {doctorId = item.Id},  new {@class = "btn btn-primary"})
                    <hr>
                    @Html.ActionLink("Добавить пациента", "AddPatientByDoctor", "Admin", new {doctorId = item.Id},  new {@class = "btn btn-primary"})
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@if (!Model.FilterResult.IsFirstPage)
{
    <a asp-action="Doctors" 
       asp-route-Inn="@(Model.PatientFilter.Inn)"
       asp-route-Surname="@(Model.PatientFilter.Surname)"
       asp-route-Name="@(Model.PatientFilter.Name)"
       asp-route-Patronimic="@(Model.PatientFilter.Patronimic)"
       asp-route-BirthDateStart="@(Model.PatientFilter.BirthDateStart)"
       asp-route-BirthDateEnd="@(Model.PatientFilter.BirthDateEnd)"
       asp-route-Page="@(Model.PatientFilter.Page - 1)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (!Model.FilterResult.IsLastPage)
{
    <a asp-action="Doctors" 
       asp-route-Inn="@(Model.PatientFilter.Inn)"
       asp-route-Surname="@(Model.PatientFilter.Surname)"
       asp-route-Name="@(Model.PatientFilter.Name)"
       asp-route-Patronimic="@(Model.PatientFilter.Patronimic)"
       asp-route-BirthDateStart="@(Model.PatientFilter.BirthDateStart)"
       asp-route-BirthDateEnd="@(Model.PatientFilter.BirthDateEnd)"
       asp-route-Page="@(Model.PatientFilter.Page + 1)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Вперед
    </a>
}