@model IEnumerable<MedicalCRM.Models.Patient.ConsultationIndexModel>

@{
    ViewData["Title"] = "Consultation";
}

<h1>Ваши отчеты</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Доктор
            </th>
            <th>
                Пациент
            </th>
            <th>
                Дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <div class="row">
                @Html.ActionLink("Редактировать", "Update", "Consultation", new {  consultationId = item.Id }, new {@class = "btn btn-primary"})
                <hr>
                @Html.ActionLink("Детали", "Details","Consultation", new {  consultationId = item.Id },new {@class = "btn btn-primary"})
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
