@model MedicalCRM.Models.Patient.ReceptFormViewModel;

@{
    Layout = null;
}
<center>
<table class="table">
    <thead>
        <tr>
            <th width="200">
                Министерство здравоохранения и социального развития КР центр семейной медицины №5, городского управления здравоохранения
            </th>
            <th width="200">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th width="200">
               
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <center> <h1>Рецепт</h1></center>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th width="600">
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
            ФИО пациента - @Model.User.GetFullName()
        </td>
        </tr>
        <tr>
        <td>
            Возраст @(DateTime.Now.Year - Model.User.BirthDate.Year)
        </td>
        </tr>
        <tr>
        <td>
            ФИО семейного врача - @Model.Doctor.GetFullName()
        </td>
        <tr>
        <tr>
        <td>
            Диагноз - @Model.Recept.Consultation.Diseases
        </td>
        <tr>
        <tr  height="50">
        <td>
            
        </td>
        <tr>
    </tbody>
</table>

<table class="table" height="80">
    <thead>
        <tr>
            <th width="200">
                Препарат
            </th>
            <th width="200">
                Количество
                </th>
            <th width="200">
                Рекомендации
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicament in Model.Recept.Medicaments) {
            <tr>
                <td>
                    <center>
                    @medicament.MedicamentName
                    </center>
                </td>
                <td>
                    <center>
                    @medicament.Count
                    </center>
                </td>
                <td>
                    <center>
                    @medicament.Note
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
</center>