@model MedicalCRM.Models.UserModels.DoctorMainPageViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Рабочее место Доктора</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td><div class="row">
                 @Html.ActionLink("Открыть чат", "Private", "Chat", new { ReceiverId = item.Id },  new {@class = "btn btn-primary"})
                 <hr>
                 @Html.ActionLink("Редактировать медицинскую карту", "UpdatePatient", "Doctor", new {  patientId = item.Id },  new {@class = "btn btn-primary"})
                 <hr>
                 @Html.ActionLink("Медкарта", "GetPatientDetails", "Patient", new {  patientId = item.Id },  new {@class = "btn btn-primary"})
                 <hr>
                 @Html.ActionLink("Отчет", "Create", "Consultation", new { patientId = item.Id },  new {@class = "btn btn-primary"})
                 </div>
            </td>
        </tr>
}
    </tbody>
</table>


<h1>Недавние консультации</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Доктор
            </th>
            <th>
                Пациент
            </th>
            <th>
                Дата
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Consultations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <div class="row">
                @Html.ActionLink("Редактировать", "Update", "Consultation", new {  consultationId = item.Id }, new {@class = "btn btn-primary"})
                <hr>
                @Html.ActionLink("Детали", "Details","Consultation", new {  consultationId = item.Id }, new {@class = "btn btn-primary"})
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
