@model MedicalCRM.Models.ChatModels.PrivateChatModel;
@{
    ViewData["Title"] = "Чат";
}
<link rel="stylesheet" href="~/MedicalCRM.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/chat.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div class="chat">
                <div class="chat-header clearfix">
                    @Model.ReceiverFullName;
                </div>
                <div class="chat-history">
                    <ul class="m-b-0" id="messagesList">
                         @foreach (var message in Model.Messages) {
                            <li class="clearfix">
                            @if(message.IsCurrentUserMessage){
                            <div class="message my-message float-right"> @message.Text @message.SendDate.ToShortTimeString()</div>
                                } else {
                            <div class="message other-message float-left"> @message.Text @message.SendDate.ToShortTimeString()</div>
                                }
                             </li>

                        }
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sendButton"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Введите текст" id="messageInput">                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<input type="hidden" id="receiverInput" value="@Model.ReceiverName"/>
<input type="hidden" id="senderInput" value="@Model.SenderName" />
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ChatSecond.js"></script>

